{% extends 'bootstrap/base.html' %}

{% block title %}
{% if title %}
<title>{{ title }} - Animle</title>
{% else %}
<title>Animle</title>
{% endif %}
{% endblock %}


<meta name="Home" content="width=device-width, initial-scale=1, user-scalable=yes">

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/homePage.css') }}">
<link rel= "javascript" type= "text/js" href= "{{ url_for('static', filename='homePage.js') }}">


<body onload="loadFunction()">

    {% block navbar %}
    <section class="navigation">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header" id="navbar">
                        <a class="navbar-brand" href= "{{ url_for('gamepage') }}">Aussie Wilderness</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('stats') }}">Stats</a></li>
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                        <!--Needs a hover dropdown-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>  
        </div>
        <div class="col-md-1"></div>
    </section>
    {% endblock %}

    {% block app_content %}{% endblock %}