{% extends "base.html" %}

{% block my_body %}
<body onload="loadFunction()">
 
{% endblock %}

{% block app_content %}

<section class = "gamebox">
    <div class = "container">
        <div class = "row" id="game_row">
            <div class = "col-md-1"></div>
            <div class = "col-md-6" id = "gameInputs">
              <br>
                <form  method="post" id="wordInputs" autocomplete="off"> 
                  <br>
                  <div class="autocomplete">
                  <input id="guessWord" type="text" placeholder="Animal Guess...">
                  </div>
                  <br>
                  <input id = "submitWord" type = "button" value = "Submit">
                  <br>
                </form>	
                <br>
                <p id="finalMessage" style="color:white">You have 6 guesses remaining!</p>
                <br>
            </div>

            <!--Right column-->
            <div class = "col-md-4" id = "game_hints">
                <h3>Need a hint?</h3><br>
                <p id="hint1">Hint 1:**hint from database**</p>
                <p id="hint2">Hint 2:**hint from database**</p>
                <p id="hint3">Hint 3:**hint from database**</p>
                <p id="hint4">Hint 4:</p>
                <p id="hint5">Hint 5:</p>
                <p id="hint6">Hint 6:</p>
                <p id="hint7">Hint 7:</p>
                <p id="hint8">Hint 8:</p>
                <p id="animalImage">image of animal here</p>
                <p >Need help learning the rules? <a href="{{ url_for('instructions') }}">Click here to find out!</a></p>
                <p >Haven't logged in yet? <a href="{{ url_for('instructions') }}">Click here to login or register!</a></p>
                <div id="testingDB"></div>
            </div>
            <div class = "col-md-1"></div>
        </div> 
    </div> 
    <!-- change -->
        
            <!--Submit-->
            <!--Help-->
        <!--Hints-->
        <!--Image-->        
        </div>
        <div class = "col-md-2"></div>
    </div>
    <br>
    <br>
</section>

{% endblock %}