{% extends "base.html" %}


{% block my_body %}
<body onload="loadFunction()">
{% endblock %}

{% block app_content %}

<section class = "gamebox">
    <div class = "container">
        <div class = "row" id="game_row">
            <div class = "col-md-1"></div>
            <div class = "col-md-6" id = "gameInputs">
              <br>
                <form  method="post" id="wordInputs" autocomplete="off"> 
                  <br>
                  <div class="autocomplete">
                  <input id="guessWord" type="text" placeholder="Animal Guess...">
                  </div>
                  <br>
                  <input id = "submitWord" type = "button" value = "Submit">
                  <br>
                </form>		
                <br>
                <p id="finalMessage" style="color:white">Welcome, input above to start playing!!</p>
                <br>
            </div>

            <div class = "col-md-4" id = "game_hints">
                <h3><strong>Need a Hint?</strong></h3><br>
                
                
                <p id="hint1">'Initial Hint'</p>
                <p id="hint2">'Initial Hint'</p>
                <p id="hint3">'Initial Hint'</p>
                <p id="hint4"><strong>'Next Hint'</strong></p>
                <p id="hint5" style="display:None"><strong>'Next Hint'</strong></p>
                <p id="hint6" style="display:None"><strong>'Next Hint'</strong></p>
                <p id="hint7" style="display:None"><strong>'Next Hint'</strong></p>
                <p id="hint8" style="display:None"><strong>'Last Hint'</strong></p> 
            </div>
            <div class = "col-md-1"></div>
        </div> 
    </div>     
    <div class = "col-md-2"></div>
    <br>
    <br>
</section>

{% endblock %}
{% block social_content %}

<section class = "Social_Footer">
    <div class = "container" id="socialId">
        <div class = "col-md-2"></div>
        <div class = "col-md-8">
            <footer>
                <div class="social">
                    <h4>SHARE YOUR WIN!!!</h4>
                    <button id = "Facebook" style = "color: blue; background-color: black; border: whitesmoke;"><a href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:5000/gamepage" target="_blank" style = "color: blue; background-color:black;"><strong>Facebook</strong></a></button>
                    <button id = "Twitter", style = "color: lightblue; background-color: black; border: whitesmoke"><a href="https://twitter.com/intent/tweet" style = "color: cyan; background-color:black;"><strong>Twitter</strong></a></button>
                    <br><br>
                    <p class="social">Need help learning the rules? <a href="{{ url_for('instructions') }}">Click here to find out!</a></p>
                    <p class="social">Want to Learn more? <a href="https://www.natureaustralia.org.au/what-we-do/our-priorities/wildlife/wildlife-stories/australias-endangered-animals/">Click Here!</a></p>
                    <p class="social">Haven't logged in yet? Click to <a href="{{ url_for('login') }}">login</a> or <a href="{{ url_for('register') }}">register!</a></p>
                </div>
            </nav>
        </div>
    <div class="col-md-2"></div>
</section>
{% endblock %}