TODOs:
	- HTML base structure
		○ CSS
		○ Create pop-up box for stats/player
	- Game dev
		○ Data collection + attributes
			§ Optional subset of animals to guess from??
			§ Provide a dropdown menu/options box for each animal??
			§ Grid of animal options and select choice??
				□ Need to relate animals in the table of options based upon attributes
			§ ##Instead - worldle type inputting and hints (as below)
		○ Structure of the game box
			§ 'grey out' box 
			§ 'select' box
		○ JavaScript to run it
	- Dynamic website for each user
		○ Storing profile info per user
		○ Set a timer for 24hrs before the user can then play again
			§ Encourage them to look at an external website/database to learn
	- Statistics
		○ Storing data over time and mapping/graphing
		○ 'friends' within the game
			§ Ability to search and 'add' other users by username/name
		○ Average performance across user database


GAME STRUCTURE:
- Hints are scaled in terms of helpfulness -> 7 hints: 
	1. Climate
	2. Size
	3. Legs, Fins/Flippers
	4. nightime/daytime
	5. Tail, Wings
	6. Classification
	7. sleeps (ie. trees, burrows etc)
	8. I've got: fur colour, scales 
- On correct/max guess exhuasted
	Endangered Rating, map of world highlighting territories (or square m2 of habitat left)
	the photo of the animal 
	extra info about it (cool fact?)

- Begin the game with 3 hints available
- Max 6 guesses
- Each wrong guess shows a new hint 
- An autocomplete search box to standardize inputted answers - such that your input is like a search of the animal name database
- global statistics for previous day only
- display previously wrong guesses 
- no keyboard on screen unless have heaps of time -> just use laptop keyboard or iphone keyboard pop up 
- key to descibe each type of hint and what each actual hint means (as a popup or in nav bar?)

